In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('routes.csv')

In [5]:
df.columns

Index(['ID', 'AirlineID', 'AirlineName', 'AirlineCountry', 'SourceAirportID',
       'SourceAirportCode', 'SourceAirport', 'SourceCity', 'SourceCountry',
       'SourceLatitude', 'SourceLongitude', 'DestAirportID', 'DestCode',
       'DestAirport', 'DestCity', 'DestCountry', 'DestLatitude',
       'DestLongitude'],
      dtype='object')

In [6]:
df.AirlineCountry.unique()

array(['United States', 'Germany', 'Canada', 'France', 'Italy', 'China',
       'Ireland', 'Spain', 'Netherlands', 'Turkey', 'United Kingdom'],
      dtype=object)

In [4]:
df.AirlineName.unique()

array(['American Airlines', 'Air Berlin', 'Air Canada', 'Air France',
       'Alitalia', 'Air China', 'China Southern Airlines',
       'Delta Air Lines', 'AirTran Airways', 'Ryanair', 'Iberia Airlines',
       'KLM Royal Dutch Airlines', 'Lufthansa', 'China Eastern Airlines',
       'Turkish Airlines', 'easyJet', 'US Airways', 'Southwest Airlines',
       'Shenzhen Airlines'], dtype=object)

In [13]:
df.loc[df.AirlineName == 'Air Berlin']['DestCountry'].unique()

array(['Germany', 'Spain', 'Switzerland', 'Austria', 'Bahrain',
       'Thailand', 'China', 'Singapore', 'United Arab Emirates', 'Italy',
       'Greece', 'United Kingdom', 'Turkey', 'France', 'Egypt', 'Serbia',
       'Denmark', 'Mexico', 'Netherlands Antilles', 'Tunisia', 'Russia',
       'Portugal', 'Guernsey', 'Finland', 'Jersey', 'United States',
       'Dominican Republic', 'Latvia', 'Israel', 'Cuba', 'Jordan',
       'Croatia', 'Japan', 'Australia', 'Sweden', 'Hungary', 'Poland',
       'Norway', 'Romania', 'Bulgaria', 'Cyprus', 'Malta'], dtype=object)

In [14]:
df.loc[df.AirlineName == 'KLM Royal Dutch Airlines']['DestCountry'].unique()

array(['Netherlands', 'United States', 'France', 'Nigeria', 'Djibouti',
       'Kenya', 'China', 'Denmark', 'United Kingdom', 'Ghana', 'Norway',
       'Kazakhstan', 'Sweden', 'Greece', 'Aruba', 'United Arab Emirates',
       'Spain', 'Thailand', 'Italy', 'India', 'Germany', 'Belgium',
       'Hungary', 'Egypt', 'South Africa', 'Netherlands Antilles',
       'Saudi Arabia', 'Argentina', 'Japan', 'Brazil', 'Switzerland',
       'Cuba', 'Finland', 'Hong Kong', 'Zimbabwe', 'South Korea',
       'Turkey', 'Tanzania', 'Ukraine', 'Rwanda', 'Malaysia', 'Kuwait',
       'Angola', 'Cyprus', 'Russia', 'Peru', 'Portugal', 'Luxembourg',
       'Mexico', 'Romania', 'Suriname', 'Czech Republic', 'Panama',
       'Latvia', 'Singapore', 'Georgia', 'Estonia', 'Israel', 'Taiwan',
       'Ecuador', 'Austria', 'Poland', 'Canada', 'Ireland', 'Puerto Rico',
       'Virgin Islands', 'Bahrain', 'Pakistan', 'Congo (Kinshasa)',
       'Algeria', 'Morocco', 'Cameroon', 'Niger', 'Dominican Republic',
       'Liberia', 'Australia', 'Equatorial Guinea', 'Comoros', 'Uruguay',
       'Chile', 'Zambia', 'Congo (Brazzaville)', 'Ethiopia', 'Burundi',
       'Uganda', 'Indonesia', 'Malawi', 'Mayotte', 'Burkina Faso',
       'Costa Rica', 'Sierra Leone', 'Guatemala', 'Honduras',
       'Philippines'], dtype=object)

In [16]:
df.loc[df.AirlineName == 'Air Canada']['DestCountry'].unique()

array(['Belgium', 'Burkina Faso', 'Saudi Arabia', 'Denmark', 'Canada',
       'United States', 'Kenya', 'South Korea', 'Japan', 'Burundi',
       'Benin', 'Senegal', 'Cameroon', 'Rwanda', 'Angola',
       "Cote d'Ivoire", 'Netherlands', 'Norway', 'Lithuania', 'Poland',
       'Guinea', 'Congo (Kinshasa)', 'Chile', 'Cyprus', 'Italy', 'Spain',
       'Thailand', 'Ethiopia', 'Germany', 'Turkey', 'Uganda', 'Guatemala',
       'Bulgaria', 'Argentina', 'United Kingdom', 'Dominican Republic',
       'Cuba', 'France', 'Mexico', 'Martinique', 'Switzerland', 'Jamaica',
       'Haiti', 'Guadeloupe', 'Bahamas', 'New Zealand', 'Hong Kong',
       'China', 'Australia', 'Antigua and Barbuda', 'Aruba',
       'United Arab Emirates', 'Bermuda', 'Barbados', 'Colombia',
       'Ireland', 'Cayman Islands', 'Grenada', 'Brazil', 'Peru',
       'Costa Rica', 'Turks and Caicos Islands', 'Israel', 'Saint Lucia',
       'Austria'], dtype=object)

In [15]:
df.loc[df.AirlineName == 'Ryanair']['DestCountry'].unique()

array(['Spain', 'United Kingdom', 'Italy', 'France', 'Belgium', 'Ireland',
       'Netherlands', 'Germany', 'Denmark', 'Slovakia', 'Sweden',
       'Norway', 'Poland', 'Finland', 'Lithuania', 'Greece', 'Cyprus',
       'Hungary', 'Morocco', 'Portugal', 'Malta', 'Latvia', 'Estonia',
       'Croatia', 'Montenegro', 'Romania', 'Czech Republic', 'Bulgaria',
       'Austria'], dtype=object)

In [17]:
df.loc[df.AirlineName == 'Lufthansa']['DestCountry'].unique()

array(['Belgium', 'Togo', 'Burkina Faso', 'Germany', 'Equatorial Guinea',
       'Tanzania', 'Uganda', 'Zimbabwe', 'Saudi Arabia', 'Kenya',
       'Kazakhstan', 'United States', 'Azerbaijan', 'Oman', 'Thailand',
       "Cote d'Ivoire", 'Burundi', 'Benin', 'Senegal', 'Cameroon',
       'Sierra Leone', 'Rwanda', 'Angola', 'Italy', 'Lithuania', 'Canada',
       'Austria', 'Colombia', 'Norway', 'Malta', 'Brazil', 'Guinea',
       'Congo (Kinshasa)', 'Kuwait', 'Spain', 'Sweden', 'Greece',
       'Turkey', 'United Kingdom', 'Hungary', 'France', 'Denmark',
       'Croatia', 'Russia', 'Japan', 'Romania', 'China', 'Poland',
       'Switzerland', 'Netherlands', 'Ireland', 'Liberia', 'Nigeria',
       'Ghana', 'Ethiopia', 'Algeria', 'Jordan', 'United Arab Emirates',
       'Serbia', 'Lebanon', 'India', 'Egypt', 'Venezuela', 'Morocco',
       'Iraq', 'Argentina', 'Portugal', 'Finland', 'Hong Kong',
       'South Korea', 'Iran', 'South Africa', 'Ukraine', 'Malaysia',
       'Cyprus', 'Slovenia', 'Mexico', 'Belarus', 'Czech Republic',
       'Latvia', 'Singapore', 'Bulgaria', 'Estonia', 'Israel', 'Tunisia',
       'Turkmenistan', 'Zambia', 'Ecuador', 'Moldova', 'Luxembourg',
       'Bosnia and Herzegovina', 'Georgia', 'Albania'], dtype=object)

In [18]:
df.loc[df.AirlineName == 'Shenzhen Airlines']['DestCountry'].unique()

array(['China', 'Ethiopia', 'Japan', 'Hong Kong', 'Taiwan', 'Thailand',
       'South Korea', 'Singapore', 'Macau'], dtype=object)

In [22]:
df.loc[df.AirlineName == 'Southwest Airlines']['DestCountry'].unique()

array(['United States', 'Aruba', 'Mexico', 'Jamaica', 'Bahamas',
       'Dominican Republic', 'Puerto Rico'], dtype=object)

In [24]:
df.loc[df.AirlineName == 'US Airways']['DestCountry'].unique()

array(['United States', 'New Zealand', 'Canada', 'Portugal', 'Mexico',
       'Greece', 'Antigua and Barbuda', 'Aruba', 'Belize', 'France',
       'Ireland', 'Italy', 'Bahamas', 'Germany', 'Cayman Islands',
       'Brazil', 'United Kingdom', 'Costa Rica', 'Jamaica',
       'Turks and Caicos Islands', 'Dominican Republic', 'Puerto Rico',
       'Virgin Islands', 'Netherlands Antilles', 'Saint Lucia',
       'Colombia', 'Guatemala', 'South Korea', 'Peru', 'Spain', 'Japan',
       'Panama', 'Honduras', 'El Salvador', 'Chile', 'South Africa',
       'Haiti', 'Turkey', 'Singapore', 'Senegal', 'Switzerland', 'Jordan',
       'Bermuda', 'China', 'Cook Islands', 'Taiwan', 'Netherlands',
       'Belgium', 'Bolivia', 'Paraguay', 'Barbados', 'Martinique',
       'Grenada', 'Nicaragua', 'Uruguay', 'Trinidad and Tobago',
       'Guadeloupe', 'Saint Kitts and Nevis', 'Israel', 'Hong Kong'],
      dtype=object)

In [19]:
df.loc[df.AirlineName == 'Shenzhen Airlines']['DestCountry'].value_counts()

China          775
Taiwan           4
Japan            4
Thailand         1
Hong Kong        1
South Korea      1
Macau            1
Singapore        1
Ethiopia         1
Name: DestCountry, dtype: int64

In [23]:
df.loc[df.AirlineName == 'AirTran Airways']['DestCountry'].unique()

array(['United States', 'Aruba', 'Mexico', 'Jamaica', 'Bahamas',
       'Dominican Republic', 'Puerto Rico'], dtype=object)

In [21]:
df.loc[df.AirlineName == 'Shenzhen Airlines']['SourceCountry'].value_counts()

China          775
Taiwan           4
Japan            4
Thailand         1
Hong Kong        1
South Korea      1
Macau            1
Singapore        1
Ethiopia         1
Name: SourceCountry, dtype: int64